<div class="content" (click)="onFocus()" (keydown)="logTick()">
	<!--HEADER/TITLE-->
	<div class="header">
		<div style="text-align:center">
			<img src="/assets/chatterbox_logo_dark_desktop.png" height="128">
		</div>
		<div class="help_link">
			<a href="https://www.emoji.codes/" target="_blank">Emoji codes</a>
		</div>
	</div>
	<!-- CHAT APP -->
	<div *ngIf="(user | async)?.uid" #list class="list" [scrollTop]="list.scrollHeight">
		<div class="msg_line" *ngFor="let message of messages | async; let first = first; let last = last">
			<div [ngClass]="{'message_user': message.uid === uid, 'message_other': message.uid !== uid, 'slideIn_right': last && message.uid !== uid, 'slideIn_left': last && message.uid === uid}" style="display:table;">
				<div class="usr_img" *ngIf="message.image">
					<div class="sub_img">
						<img src="{{message.image}}" width="30" data-toggle="tooltip" title="message.owner">
					</div>
				</div>
				<div [ngClass]="message.image ? 'inner_txt' : 'inner_txt_no_img'">
					<span [ngClass]="message.uid === uid ? 'msg_owner' : 'msg_other'" *ngIf="!message.image">
						{{ message.owner }}:
					</span>
					<span class="message-container" [innerHTML]="message.message | linkify | emojis">
					</span>
					<span [ngClass]="{'hidden': !last, 'timestamp': true}">{{ message.timestamp | date:'medium' }}</span>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!(user | async)?.uid" class="list" #scrollable>
		<div class="instructible">You must log in to participate in the chat!</div>
	</div>

	<div class="footer">
		<div class="input_panel input-group">
			<button type="button" class="btn btn-default" (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
			</span>
			<span class="input-group-btn">
				<span *ngIf="!mute_toast;then unmuted else muted"></span>
			</span>
			<input id="chat_input" class="form-control" *ngIf="(user | async)?.uid" type="text" #messageInput [(ngModel)]="message" (keyup.enter)="newMessage()" (focus)="onFocus()" placeholder="Your message..">
			<span class="input-group-btn">
				<button type="button" class="btn btn-success" *ngIf="(user | async)?.uid" (click)="newMessage()">Send message</button>
			</span>
		</div>
	</div>
</div>

<ng-template #muted>
	<button type="button" class="btn btn-default active" (click)="muteToggle()" *ngIf="(user | async)?.uid" data-toggle="tooltip" title="Unmute notification sounds"><i class="fa fa-volume-off"></i></button>
</ng-template>

<ng-template #unmuted>
	<button type="button" class="btn btn-default" (click)="muteToggle()" *ngIf="(user | async)?.uid" data-toggle="tooltip" title="Mute notification sounds"><i class="fa fa-volume-up"></i></button>
</ng-template>
