.instructible {
    width: 400px;
    margin: 0 auto;
    color: #ccc;
    padding-top: 130px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
}

.timestamp {
    font-size: 0.7em;
    color: #676B77;
    position: relative;
    top: 8px;
}

.message_other .timestamp {
    color: #222;
}

.msg_line {
    clear: both;
    overflow: hidden;
    position: relative;
}

.message_other,
.message_user {
    padding: 5px;
    border: 1px solid #222;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    max-width: 60%;
}

.message_user {
    float: left;
    color: #D7DAE0;
    background-color: #282C34;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.message_other {
    float: right;
    clear: both;
    color: #D7DAE0;
    background-color: rgb(8, 80, 122);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inner_txt {
    /*float: right;*/
    display: table-cell;
}

.inner_txt,
.inner_txt_no_img {
    padding: 0 10px;
}

.msg_owner {
    color: #587C0C;
}

.msg_other {
    color: #A5CE4E;
}

.usr_img {
    display: table-cell;
    width: 30px;
    height: 30px;
    overflow: hidden;
    /*float: left;*/
}

.sub_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.help_link {
    float: right;
    position: relative;
    top: -25px;
    right: 30px;
    text-decoration: none !important;
}

.help_link :hover {
    text-decoration: none;
}

.slideIn_left {
    margin-left: -250px;  /* make things invisible upon start */
    -webkit-animation: slideIn_left ease-in 1;  /* call our keyframe named slideIn_left, use animation ease-in and repeat it only 1 time */
    -moz-animation: slideIn_left ease-in 1;
    animation: slideIn_left ease-in 1;

    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (margin-left: 0)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.slideIn_right {
    margin-right: -250px;  /* make things invisible upon start */
    -webkit-animation: slideIn_right ease-in 1;  /* call our keyframe named slideIn_right, use animation ease-in and repeat it only 1 time */
    -moz-animation: slideIn_right ease-in 1;
    animation: slideIn_right ease-in 1;

    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (margin-right: 0)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slideIn_left { from { margin-left: -250px; opacity: 0; } to { margin-left: 0; opacity: 1; } }
@-moz-keyframes slideIn_left { from { margin-left: -250px; opacity: 0; } to { margin-left: 0; opacity: 1; } }
@keyframes slideIn_left { from { margin-left: -250px; opacity: 0; } to { margin-left: 0; opacity: 1; } }

@-webkit-keyframes slideIn_right { from { margin-right: -250px; opacity: 0; } to { margin-right: 0; opacity: 1; } }
@-moz-keyframes slideIn_right { from { margin-right: -250px; opacity: 0; } to { margin-right: 0; opacity: 1; } }
@keyframes slideIn_right { from { margin-right: -250px; opacity: 0; } to { margin-right: 0; opacity: 1; } }
