/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #21252B;
}

body {
    height:100%;
    background: #21252B;
    position:relative;
}

.emoji {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-top: -10px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background: #21252B;
    height: 128px;
}

.content {
    width: 100%;
    height: 90%;
    padding: 128px 10px 45px 10px; /* Header height and footer height */
    margin: 0 auto; /* Center content */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    /* General appearance */
    background-color: #21252B;
}

.list {
    height: 100%;
    min-width: 300px;
    margin: 0 auto;
    overflow-y:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    border: 1px solid #5D6372;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footer {
    position: absolute;
    width: 99%;
    height: 30px;
    padding: 0 10px;
    margin: 5px 0 5px 0;
    background-color: #21252B;
    clear: both;
}
